<div class="container cards-content-container">
    <div class="row">
        <div class="col-lg-4 col-sm-12 card">
            <div class="text-center card-container" (click)="showProject('proj1')">
                <img class="proj-img" src="https://www.land-studio.org/files/projects/viewer/danterodriguez0562.jpg">
                <div class="artist-container">
                    <img
                        src="https://img.pngio.com/smile-shapers-men-smile-smiling-man-conditioning-black-man-black-guy-png-820_739.png">
                </div>
                <h5>Gordon Square Arts District Murals</h5>
                <p>Cleveland</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 card">
            <div class="text-center card-container">
                <img class="proj-img" src="https://www.land-studio.org/files/projects/viewer/dsc0015.jpg">
                <div class="artist-container">
                    <img
                        src="https://img.pngio.com/smile-shapers-men-smile-smiling-man-conditioning-black-man-black-guy-png-820_739.png">
                </div>
                <h5>Bike Box</h5>
                <p>Cleveland</p>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 card">
            <p>Hello</p>

        </div>
    </div>
</div>