<nav class="navbar navbar-light bg-light">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Sort by
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <button class="dropdown-item" (click)="showSecondFilter('location')">Location</button>
            <button class="dropdown-item" (click)="showSecondFilter('projType')">Project Type</button>
            <button class="dropdown-item" (click)="showSecondFilter('artist')">Artist</button>
        </div>
    </div>
    <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>