<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['']">unCLEar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Discover
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" [routerLink]="['discover/projects']" [routerLinkActive]="['active']">Projects</a>
                    <a class="dropdown-item" [routerLink]="['discover-artists']" [routerLinkActive]="['active']">Artists</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['propose']" [routerLinkActive]="['active']">Propose</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['contribute']" [routerLinkActive]="['active']">Contribute</a>
            </li>
        </ul>
    </div>
</nav>