<nav class="navbar navbar-light bg-light">
  <div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Sort by
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <button class="dropdown-item">Specialty</button>
        <button class="dropdown-item">Location</button>
      </div>
    </div>
  </div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  </form>

</nav>

<div class="container cards-content-container">
  <div class="row artist-row">
    <div class="col-lg-12 col-sm-12">
      <div class="row h-25">
        <div class="col-lg-4">
          <img style="height: 200px; width:200px;"
            src="https://img.pngio.com/smile-shapers-men-smile-smiling-man-conditioning-black-man-black-guy-png-820_739.png">
        </div>
        <div class="col-lg-5 card-container">
          <h5>Peter Parker</h5>
          <p> Cleveland based web artist</p>
          <p class="subdesc">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua."</p>

        </div>
        <div class="col-lg-3 btn-container">
          <div style="height:100%">
            <button class="btn btn-info" style="position:relative;">
              Inquire via LAND Studio
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row artist-row">
    <div class="col-lg-12 col-sm-12">
      <div class="row h-25">
        <div class="col-lg-4">
          <img style="height: 200px; width:200px;"
            src="https://images.unsplash.com/photo-1530842128367-9e448d986a75?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80">
        </div>
        <div class="col-lg-5 card-container">
          <h5>The Joker</h5>
          <p> Specializes in pyrotechnic displays</p>
          <p class="subdesc">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua."</p>

        </div>
        <div class="row-lg-3 btn-container">
          <div style="height:100%">
            <button class="btn btn-info" style="position:relative;">
              Inquire via LAND Studio
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="row artist-row">
    <div class="col-lg-12 col-sm-12">
      <div class="row h-25">
        <div class="col-lg-4">
          <img style="height: 200px; width:200px;"
            src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80">
        </div>
        <div class="col-lg-5 card-container">
          <h5>Wonder Woman</h5>
          <p>Creates Wonderful works of art!</p>
          <p class="subdesc">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua."</p>
        </div>
        <div class="col-lg-3 btn-container">
          <div style="height:100%">
            <button class="btn btn-info" style="position:relative;">
              Inquire via LAND Studio
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>