<div class="background-container">
    <div class="container">
        <div class="jumbotron">
            <div class="jumbo-cont">
                <h1 class="display-4">We are unCLEar</h1>
                <p class="lead">We are Unifying Cleveland Artists by democratizing the public art creation process</p>
                <hr class="my-4">
                <p>We are providing a platform where artists and community members can discover local art installations,
                    propose
                    locations or
                    art projects, donate to those art proposals, and give more power to the artists!
                </p>
            </div>
        </div>
    </div>
</div>