<div class="container">
    <div class="row">

        <div class="proj-imgs col-lg-6 col-sm-12">
            <img class="proj-img" src="https://www.land-studio.org/files/projects/viewer/danterodriguez0562.jpg">
        </div>
        <div class="proj-content col-lg-6 col-sm-12 text-center">
            <div class="artist-container">
                <img
                    src="https://img.pngio.com/smile-shapers-men-smile-smiling-man-conditioning-black-man-black-guy-png-820_739.png">
            </div>
            <p style="font-style: italic">Dante Rodriguez</p>
            <h3>Gordon Square Arts District Murals</h3>
            <h5>Cleveland</h5>
            <p>This is actually a <a href="https://www.land-studio.org/project/gordon-square-arts-district-murals">real project</a> that was sponsored by LAND studio! <a href="https://www.spacescle.org/about/artists/dant-rodriguez">Dante Rodriguez</a> is a real artist who worked on this project (that's not a real picture of him though)</p>
            <p>Imagine this is just a project proposal though</p>
            <button class="btn btn-primary">Contribute to this Project</button>
        </div>
    </div>
</div>