.row{
    padding-top: 2rem; 
}

.proj-imgs {
    img{
        width: 100%;
    }
}


.artist-container {
    justify-content: center;
    display: flex;
    img{
        border-radius: 30px;
        height: 200px;
        width: 200px;
    }
}